h1, h2, h3, h4{
    margin-top: 0;
    margin-bottom: 0;
}

.title-card{
    position: relative;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}


.title-card .plan{
    background-color: grey;
    position: absolute;
    width: 100%;
    opacity: 0.4;
    bottom: 0px;
    height: 6em;

    padding: 0.5em 1em;

}

.title-card .plan .time{
   font-size: 15px;
   color: white;
   height: 1em;
   padding-left: 5px;
}


.title-card h1{
   color: white;
   font-size: 1.4em;
   padding-bottom: 20px;
}








.title-card:first-of-type{
    height: 300px;
    background-image:url('/images/4.jpg');
}

.title-card:nth-of-type(2){
    height: 300px;
    background-image:url('/images/3.jpg');
}



