.eptv-navbar{
    background-color: black;
}

nav.navbar.navbar-default.eptv-navbar a{
    color: white
}
nav.navbar.navbar-default.eptv-navbar li.active a{
    background-color: orangered;
}