/*div{
    background-color: hsla(100, 50%, 50%, 0.3)
}*/

header h1{
    text-align: center;
}

.top-title-cards{}

.top-title-cards :nth-child(3) .title-card{
    height: 145px;
}

.top-title-cards :nth-child(3) .title-card:last-child{
    margin: 10px 0 0 0;
}

.row{
    margin-bottom: 1em;
}


.bloc1{
    margin-bottom: 1em;
}

ul.nav.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float:none;
}

ul.nav.navbar-nav li.lang a{
    display: inline-block;
}