.bloc1{
    display: flex;
    flex-direction: row;
}

.bloc1 img{
    width: 7em;
}

.bloc1 .texts{
    flex: 1;

    display: flex;
    flex-direction: column;
    
    padding-left: 0.7em;
}


.bloc1 h3.subtitle {
    font-weight:bold;
    font-style: italic;
    text-transform:uppercase; 
    margin:0px;
}

.bloc1 img.bloc {
    width: 160px;
    height: 125px;
}

.bloc p{
    text-justify: auto;
}

.texts .dangers{
    padding: 3px;
    margin: 0;
}


