<!DOCTYPE html>
<html lang="fr-fr">
<head>
  <meta charset="utf-8">
  <meta referer="same-origin">
  <meta name="description" content="{{ site.description | xml_escape }}">
  <title>{{ page.title }} • EPTV</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
</head>
<body>
<main class="container-fluid">

        <header class="row">
            <div class="col-sm-12">
               <h1>{{ site.title }}</h1>

                <nav class="navbar navbar-default eptv-navbar">

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          {% assign pages = site.pages | sort: 'menu_order' | where_exp: 'page', 'page.title' %}
                          {% for page in pages %}
                            <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>

                          {% endfor %}

                            <li class="lang">
                                <a href="#"><span class="glyphicon glyphicon-subtitles"></span></a> -
                                <a href="#">ar</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div class="row">
            <div class="col-lg-12">


  {{ content }}

  {% include footer.html %}
</main>

</body>
</html>
