---
layout: base
---

{% assign news = site.posts | where: "layout", "post" %}
{% assign news_video = site.posts | where: "layout", "post-video" %}

<div class="row">
    <div class="col-lg-12">
        ======================== Flash ========================
    </div>
</div>

{% include home/headlines.html posts=news %}

<h2>Catégories populaires</h2>

<ul>
  {% for category in site.data.categories %}
  <li>
    <a href="#{{ category.id }}">{{ category.name }}</a>
  </li>
  {% endfor %}
</ul>


<h2>Dernières actus en vidéo</h2>


{% for post in news_video limit: 5 %}
  {% include home/post-video.html post=post %}
{% endfor %}
