{% assign posts = include.posts %}

<div class="row top-title-cards">
    <div class="col-lg-6">
      {% assign post = posts[0] %}
      {% include home/title-card.html post=post %}

    </div>
    <div class="col-lg-3">
      {% assign post = posts[1] %}
      {% include home/title-card.html post=post %}

    </div>
    <div class="col-lg-3">
      {% assign post = posts[2] %}
      {% include home/title-card.html post=post %}

      {% assign post = posts[3] %}
      {% include home/title-card.html post=post %}
    </div>
</div>
