<div class="row">
  <div class="col-lg-8 bloc1">

      <img src="{{ site.baseurl }}/{{ post.image_url }}" alt="" class="pull-left bloc">
      <div class="texts">
          <h3 class="subtitle"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <p>
            <time>{{ post.date | date: '%d %B %Y' }}</time>
              {{ post.title }}
          </p>
          <div class="alert alert-danger dangers">

              <span class="glyphicon glyphicon-eye-open"></span> &nbsp; vue 23 &nbsp;&nbsp;
              <span class="glyphicon glyphicon-comment"></span> &nbsp; commentaire 255
              <a href="#">
                  <span class="glyphicon glyphicon-share pull-right"></span>
              </a>
          </div>
      </div>
  </div>
</div>
