{% assign post = include.post %}
<div class="title-card" style="background-image: url({{ post.image_url }})">
    <div class="plan">
        <h1>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h1>
        <p class="time">
            <span class="glyphicon glyphicon-time"></span>
            <time datetime="{{ post.date | date_to_xmlschema}}">{{ post.date | date: '%d %B %Y' }}</a>
        </p>
    </div>
</div>
